<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gdufs.mapper.ActivityMapper">

    <select id="getActivityList" resultType="Activity">
        SELECT *
        FROM activity
        WHERE is_deleted = 0
        ORDER BY priority DESC, id DESC
    </select>

    <select id="getActivityById" resultType="Activity">
        SELECT *
        FROM activity
        WHERE id = #{id} AND is_deleted = 0
    </select>

</mapper>