<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gdufs.mapper.ActivityMapper">

    <select id="getActivityList" resultType="Activity">
        SELECT *
        FROM activity
        WHERE is_deleted = 0
        ORDER BY priority DESC, id DESC
    </select>

    <select id="getActivityById" resultType="Activity">
        SELECT *
        FROM activity
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insertActivity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity(title, content, path, priority, time, href)
        VALUES (#{title}, #{content}, #{path}, #{priority}, #{time}, #{href})
    </insert>

    <update id="updateActivity">
        UPDATE activity
        SET title = #{title}, content = #{content}, path = #{path},
            priority = #{priority}, time = #{time}, href = #{href}
        WHERE id = #{id}
    </update>

</mapper>