<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gdufs.mapper.AdminMapper">

    <select id="getAdminByUsername" resultType="Admin">
        SELECT *
        FROM admin
        WHERE username = #{username}
          AND is_deleted = 0
    </select>

    <select id="getAdminByEmail" resultType="Admin">
        SELECT *
        FROM admin
        WHERE email = #{email}
          AND is_deleted = 0
    </select>

    <select id="getAdminById" resultType="Admin">
        SELECT *
        FROM admin
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <update id="updatePassword">
        UPDATE admin
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <select id="getAdminList" resultType="Admin">
        SELECT id, username, role, nickname, email
        FROM admin
        WHERE is_deleted = 0
    </select>

    <insert id="insertAdmin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin(username, password, salt, role, nickname, email)
        VALUES (#{username}, #{password}, #{salt}, #{role}, #{nickname}, #{email})
    </insert>

    <update id="updateAdmin">
        UPDATE admin
            <set>
                <if test="nickname != null"> nickname = #{nickname}, </if>
                <if test="email != null"> email = #{email} </if>
            </set>
        WHERE id = #{id}
    </update>

    <update id="deleteAdmin">
        UPDATE admin
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

</mapper>