<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gdufs.mapper.BlogMapper">

    <select id="getBlogList" resultType="Blog">
        SELECT *
        FROM blog
        WHERE is_deleted = 0
        ORDER BY id DESC
    </select>

    <select id="getBlogById" resultType="Blog">
        SELECT *
        FROM blog
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog(title, content, cover, create_user_id, update_user_id)
        VALUES (#{title}, #{content}, #{cover}, #{createUserId}, #{updateUserId})
    </insert>

    <update id="updateBlog">
        UPDATE blog
        SET title          = #{title},
            content        = #{content},
            cover          = #{cover},
            update_user_id = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="deleteBlog">
        UPDATE blog
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

</mapper>