<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gdufs.mapper.CarouselMapper">

    <select id="getCarouselList" resultType="Carousel">
        SELECT *
        FROM carousel
        WHERE is_deleted = 0
        ORDER BY priority DESC, id DESC
    </select>

    <select id="getCarouselDetail" resultType="Carousel">
        SELECT *
        FROM carousel
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insertCarousel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO carousel(content, path, priority, create_user_id, update_user_id)
        VALUES (#{content}, #{path}, #{priority}, #{createUserId}, #{updateUserId})
    </insert>

    <update id="updateCarousel">
        UPDATE carousel
        SET content = #{content}, path = #{path}, priority = #{priority}, update_user_id = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="deleteCarousel">
        UPDATE carousel
        SET is_deleted = 1
        WHERE id = #{id}
    </update>
    
</mapper>